In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [16]:
df = pd.read_csv("C:/Users/sahay/Desktop/ML/Projects/Insurance Premium project/insurance (1).csv")

In [17]:
df.head()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000

In [18]:
df.shape

(986, 11)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      986 non-null    int64
 1   Diabetes                 986 non-null    int64
 2   BloodPressureProblems    986 non-null    int64
 3   AnyTransplants           986 non-null    int64
 4   AnyChronicDiseases       986 non-null    int64
 5   Height                   986 non-null    int64
 6   Weight                   986 non-null    int64
 7   KnownAllergies           986 non-null    int64
 8   HistoryOfCancerInFamily  986 non-null    int64
 9   NumberOfMajorSurgeries   986 non-null    int64
 10  PremiumPrice             986 non-null    int64
dtypes: int64(11)
memory usage: 84.9 KB

In [20]:
#binning age into categories
bins=[0,20,30,40,50,60,float('inf')]
labels=['<20 yrs','20 - 30 yrs','30 - 40 yrs','40 - 50 yrs', '50 - 60 yrs', '>60 yrs']
df['Age_category']=pd.cut(df['Age'],bins=bins,labels=labels)

In [21]:
#binning height into categories
bins=[0,144,150,160,170,float('inf')]
labels =['<144 cm','144-150 cm','150-160 cm','160-170 cm','>170']
df['Height_Category'] = pd.cut(df['Height'], bins=bins, labels=labels)

In [22]:
#binning weight into categories
bins=[0,50,70,90,110,130,140]
labels=['< 50 kgs','50-70 kgs','70-90 kgs','90-110 kgs','110-130 kgs','130-140 kgs']
df['weight_category']=pd.cut(df['Weight'],labels=labels,bins=bins)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [24]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Encode categorical columns (ordinal and nominal features)
le = LabelEncoder()
df['Age_category'] = le.fit_transform(df['Age_category'])
df['Height_Category'] = le.fit_transform(df['Height_Category'])
df['weight_category'] = le.fit_transform(df['weight_category'])



# Scale numeric features
scaler = StandardScaler()
df[['Height', 'Weight', 'NumberOfMajorSurgeries']] = scaler.fit_transform(df[['Height', 'Weight', 'NumberOfMajorSurgeries']])



# Now, we have data split, but the preprocessing has already been applied to the entire dataset.

In [25]:
# Split the data into features and target variable
from sklearn.model_selection import train_test_split

X = df.drop('PremiumPrice', axis=1)  # Features
y = df['PremiumPrice']  # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)